$base-font-size: 16;
$color-heading-black: #292c3e;
$color-primary: #5564f5;
$color-dark-blue: #0C1142;
$color-light-blue: #3aa1ec;
$color-faded-grey: #fcfcfc;
$color-red: #ec3a40;
$color-green: #00a02d;
$color-grey: #ececec;
$text-grey: #6a6969;
$text-grey-f4f: #4f4f4f;
$text-grey-9a9: #a9a9a9;
$text-grey-282: #828282;
$text-grey-dbd: #bdbdbd;
$text-white-2: #f6f6f6;
$text-link-black: #1e2833;
$color-dark-grey: #525252;
$text-nav-grey: #6b6f82;
