$base-font-size: 16;
$color-heading-black: #292C3E;
$color-primary: #5564F5;
$color-light-blue: #3AA1EC;
$color-faded-grey: #FCFCFC;
$color-red: #EC3A40;
$color-green: #00A02D;
$color-grey: #ECECEC;
$text-grey: #6A6969;
$text-grey-f4f: #4F4F4F;
$text-grey-9a9: #A9A9A9;
$text-grey-282: #828282;
$text-grey-dbd: #BDBDBD;
$text-white-2: #F6F6F6;
$text-link-black: #1E2833;
$color-dark-grey: #525252;
$text-nav-grey: #6b6f82;